@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #242333;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Lato', sans-serif;
  margin: 0;
  width: 100vw;
}

.movie__container {
  margin: 20px 0;
}

.movie__container select {
  background-color: #fff;
  border: 0;
  border-radius: 5px;
  font-size: 1rem;
  margin-left: 10px;
  padding: 5px 15px 5px 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.container {
  perspective: 1000px;
  margin-bottom: 30px;
}

.plan__seat {
  background-color: #444451;
  height: 1rem;
  width: 1.2rem;
  margin: .2rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.plan__seat.selected,
.plan__seat.dummySelected {
  background-color: #6feaf6;
}

.plan__seat.occupied {
  background-color: #fff;
}

.plan__seat:nth-of-type(2) {
  margin-right: 18px;
}

.plan__seat:nth-last-of-type(2) {
  margin-left: 18px;
}

.plan__seat:not(.occupied):hover {
  cursor: pointer;
  /* transform: scale(1.2); */
  background-color: yellow;
}

.plan__row {
  display: flex;
}

.plan__screen {
  background-color: #fff;
  height: .5rem;
  width: 100%;
  margin: 1rem 0 2rem 0;
  transform: rotateX(-45deg);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

.plan__theater {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1rem;
}

.showcase .seat:not(.occupied):hover {
  cursor: default;
  transform: scale(1);
}

.showcase {
  background: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  color: #777;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.showcase li small {
  margin-left: 2px;
}

p.text {
  margin: 5px 0;
  text-align: center;
}

p.text span {
  color: #6feaf6;
}

label {
  margin-right: 1rem;
}

header {
  margin: 1.5rem 0;
}

footer > p {
  font-size: .8rem;
}

.link--discreet,
.link--discreet:visited {
  color: #fff;
  text-decoration: none;
}

.link--discreet:hover,
.link--discreet:focus,
.link--discreet:active {
  color: yellow;
  text-decoration: underline 1px dotted yellow;
}